# Force LF and UTF-8 without BOM for files that break in Linux containers
*.json text eol=lf working-tree-encoding=UTF-8
*.js text eol=lf working-tree-encoding=UTF-8
*.cjs text eol=lf working-tree-encoding=UTF-8
*.mjs text eol=lf working-tree-encoding=UTF-8
*.vue text eol=lf working-tree-encoding=UTF-8
*.html text eol=lf working-tree-encoding=UTF-8
*.css text eol=lf working-tree-encoding=UTF-8
*.sh text eol=lf working-tree-encoding=UTF-8
